<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-2">
        <table class="social-media-list">
          {% if site.github_username %}
          <tr>
            <td><a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
               <i class="fa fa-github"></i>
              </span> </a></td>
							<td>
							<a href="https://github.com/{{ site.github_username }}">
              <span class="username">Github</span>    
							</a>							
						</td> 
          </tr>
          {% endif %}

          {% if site.facebook_username %}
          <tr>
            <td><a href="https://facebook.com/{{ site.facebook_username }}">
              <span class="icon  icon--facebook">
               <i class="fa fa-facebook"></i>
              </span> </a></td>
							<td>
							<a href="https://facebook.com/{{ site.facebook_username }}">
              <span class="username">Facebook</span>    
							</a>							
						</td> 
          </tr>
          {% endif %}
 					
					 {% if site.twitter_username %}
          <tr>
            <td><a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
               <i class="fa fa-twitter"></i>
              </span> </a></td>
							<td>
							<a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">Twitter</span>    
							</a>							
						</td> 
          </tr>
          {% endif %}
        </table>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
